{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <p>Hello</p>
    <form action="{% url 'upload_bar_chart' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                {{ upload_data_form.chart_title|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ upload_data_form.x_data|as_crispy_field }}
            </div>
            <div class="col-6">
                {{ upload_data_form.y_data|as_crispy_field }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}