/* stops content being hid by navbar */
body {
    padding-top: 59px;
}

/* Style navbar */
.custom-nav-border {
    border-bottom: 3px #dd3d31 solid;
}

.custom-nav-bg {
    background-color: #002e66;
}
  
.custom-toggler .navbar-toggler-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFF;
}

.custom-dropdown-menu {
    background-color: #002e66;
    border-color: rgba(255,255,255,.1);
}

.custom-dropdown-item {
    color: #FFF;
}

.custom-dropdown-item:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #004599;
}

/* Style buttons */
.custom-btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #002e66;
    border: 1px solid #002e66;;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-btn:hover {
    color: #FFF;
    background-color: #004599;
    border-color: #004599;
    text-decoration: none;
}

.custom-btn.custom-btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

/* Profile page */
.personal-info-item .key {
    display: inline-block;
    width: 40%;
}

.personal-info-item .value {
    display: inline-block;
    width: 50%;
}

.personal-info-item .key p {
    font-weight: bold;
}

.personal-info-item p {
    margin: 0;
}

/* Style tables */
.table td, .table th {
    vertical-align: middle;
}

.table.chart-data-table td, .table th {
    vertical-align: middle;
    text-align: center;
}