.custom-nav-border {
    border-bottom: 3px #dd3d31 solid;
}

.custom-nav-bg {
    background-color: #002e66;
}
  
.custom-toggler .navbar-toggler-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFF;
}

.custom-dropdown-menu {
    background-color: #002e66;
    border-color: rgba(255,255,255,.1);
}

.custom-dropdown-item {
    color: #FFF;
}