{% extends "base.html" %}

{% block page_title %}Login{% endblock page_title %}

{% load crispy_forms_tags %}

{% block content %}
<form method="post" action="{% url 'accounts:login' %}?next={{ next }}">
    {% csrf_token %}
    
    <fieldset class="form-group">
        <legend>Login</legend>
        {{ login_form | crispy }}
        <a href="{% url 'accounts:password_reset' %}">Forgot my password</a>
    </fieldset>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>

<p>New to Dashing Data?</p>

<a class="btn btn-primary" href="{% url 'accounts:register' %}?next={{ next }}" role="button">Register</a>
{% endblock %}