{% extends "base.html" %}

{% block page_title %}Profile{% endblock page_title %}

{% block content %}
    <h2>Profile</h2>
    <p>You are logged in as {{ user.email }} </p>
    <p>{{ user.username }}</p>
    <p>{{ user.password }}</p>
    <p>{{ user_subscription.subscription_type_id }}</p>
    <p>{{ user_subscription.subscription_type_id.name }}</p>
    <p>{{ user_subscription.subscription_type_id.description }}</p>
    <p>{{ user_subscription.subscription_type_id.length_months }}</p>
    <p>{{ user_subscription.start_date }}</p>
    <p>{{ user_subscription.end_date }}</p>
{% endblock %}