{% extends "base.html" %}

{% block page_title %}Search Saved Charts{% endblock page_title %}

{% block content %}
    <h1>Saved charts</h1>

    <form method="get" action="{% url 'search:do_search' %}">
        <input type="text" name="q">
        <button type="search" class="btn btn-primary">Search</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Title</th>
                <th scope="col">Date Created</th>
                <th scope="col">Views</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for chart in charts %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ chart.chart_type }}</td>
                <td>{{ chart.title }}</td>
                <td>{{ chart.date_created }}</td>
                <td></td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm">View</button>
                    <button type="button" class="btn btn-primary btn-sm">Edit</button>
                    <a href="{% url 'search:delete_chart' chart.id %}" class="btn btn-primary btn-sm">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <th scope="row"></th>
                <td></td>
                <td>No matching saved charts found</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}