{% extends "base.html" %}

{% block page_title %}Search Saved Charts{% endblock page_title %}

{% block content %}
<div class="row mt-4">
    <div class="col text-center">
        <h1>Saved Charts</h1>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <form method="get" action="{% url 'search:do_search' %}">
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" name="q">
                </div>
                <div class="col">
                    <button type="search" class="custom-btn">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="table-responsive mt-4">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Title</th>
                <th scope="col">Date Created</th>
                <th scope="col">Views</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for chart in charts %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ chart.chart_type }}</td>
                <td>{{ chart.title }}</td>
                <td>{{ chart.date_created }}</td>
                <td></td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm">View</button>
                    <button type="button" class="btn btn-primary btn-sm">Edit</button>
                    <a href="{% url 'search:delete_chart' chart.id %}" class="btn btn-primary btn-sm">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <th scope="row"></th>
                <td></td>
                <td class="text-center">No matching saved charts found</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}